.idea/
/index_*
/code.asm
/craydenttmp.js
/hydrogen-*
/log.txt
/z_*
/zz_*
.history/
.vscode/
.DS_Store
/submodules/*/dependencies/
node_modules/
/test/benchmarks.sh
code.asm
common-bk.js
z_shared_bk
hydrogen-*
test.txt
z_craydent.js
modules.bk/
modules.bk2/
compiled/
transformedMajor/
transformedMinor/
reports/