.*
_*
test
tests
node_modules
submodules
local_scripts
z_*
zz_*
common-bk.js
code.asm
craydenttmp.js
hydrogen-*
index_db.js
index_test.js
index_where.js
log.txt
test.txt
z_craydent.js
@types
reports
transformedMajor
transformedMinor
modules
compiled
index.template.js
base.js